
<%- include('../../include/head.ejs') %>
<body>
<div class="dashboard">

    <!-- Sidebar -->
    <%- include('../../include/admin_side.ejs') %>

    <!-- Main Content -->
    <main class="main">

        <!-- Navbar -->
        <%- include('../../include/home_nav.ejs') %>

        <!-- student Panel -->
        <section class="student-panel">
            <!-- student Table -->
            <div class="student-table-box">
                <h2><i class="fas fa-table"></i> student List</h2>

                <table class="student-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(students && students.length > 0) { %>
                            <% students.forEach(student => { %>
                                <tr>
                                    <td><%= student.id %></td>
                                    <td><%= student.name %></td>
                                    <td><%= student.email %></td>
                                    
                                    <td>
                                        <a href="/admin/manage_student/select_student/<%= student.id %>" class="btn sm">Select</a>
                                    </td>
                                </tr>
                            <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="5" style="text-align:center;">No students found</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

        </section>

    </main>
</div>
</body>
</html>
